* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    background-image: url("/img/ku.jpg");
    /* background-color: rgb(209, 164, 112); */
    /* background-repeat: no-repeat; */
    background-position: center bottom;
    /* background-size: cover; */
}
.card-img-top {
    border-radius: 50px;
    padding: 20px;
}
.card {
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}
.card-body {
    padding: 25px;
    margin-top: -15px;
}
.btn-primary {
    border-radius: 50px;
    width: 120px;
}
.btn-pjm {
    border-radius: 50px;
    width: 120px;
}
.btn-primary:hover {
    background-color: black;
    border: none;
}
h3,
h5 {
    color: rgb(0, 91, 228);
}
